div.box {
  clear: both;
}

div.basicTable > dt:nth-child(even){
  background-color: #eeeeee;
}

div.basicTable > dt:nth-child(odd){
  background-color: #dddddd;
}

div.basicTable > dd:nth-child(even){
  background-color: #eeeeff;
}

div.basicTable > dd:nth-child(odd){
  background-color: #ddddff;
}

div.basicTable > dl > dt{
  float: left;
  clear: left;
  margin-right: 0.5em;
  width: 120px;
  height: 30px;
}

div.basicTable > dl > dd{
  float: left;
  width: 300px;
  height: 30px;
  margin-left: 1em;
}